*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Barlow Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	Font-size: 18px
	}
.bg-shape{
	position: absolute;
	height: 50%;
	width: 50%;
	background: hsl(207, 33%, 95%);
	z-index: -1;
	right:0;
	border-bottom-left-radius: 100px;
}
nav {
	display: flex;
	align-items: center;
	margin: 3% 10% 0 10%;
	justify-content: space-between;
}

.nav-links{
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.nav-links li{
	list-style: none;
}
.nav-links a{
	 text-decoration: none;
	 color: hsl(230, 29%, 20%);
	 font-weight: 700;
	 text-transform: uppercase;
}

.nav-links a:hover, #login:hover {
	color: hsl(0, 100%, 68%);
}

nav img {
	cursor: pointer;
}

#login {
	 color: hsl(231, 7%, 65%);
}
.dot{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color:  hsl(231, 7%, 65%);
	margin: auto 0 auto 0;
}
.burger {
	cursor: pinter;
	display: none;
	flex-direction: column;
	height: 30px;
	justify-content: space-evenly;
}
.line1, .line2, .line3 {
	width: 30px;
	height: 2px;
	background: hsl(230, 29%, 20%);
	
}
section {
	animation: drop 1s ease;
	margin: auto 0 auto 0;
	display: flex;
	height: 65vh;
	align-items: center;
}

.leftside{
	flex: 1;
}
.contentleft {
	padding: 0 10% 0 20%;
	margin-bottom: 20px;
}
.firstline{
	font-size: 1vw;
	display: flex;
	align-items: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: hsl(231, 7%, 65%);
	padding-bottom: 3%;
}
.new {
	background: hsl(230, 29%, 20%);
	padding: 2px 16px;
	margin-right: 16px;
	letter-spacing: 0px;
	color: hsl(207, 33%, 95%);
	border-radius: 100vh;
}
.contentleft h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4vw;
	color: hsl(230, 29%, 20%);
}

.contentleft h3{
	padding: 5% 0 15% 0;
	width: 60%;
	font-size: 1.5vw;
	font-weight: 400;
	color: hsl(230, 11%, 40%);
}

.lastline {
	display: flex;
	text-transform: uppercase;
	font-size: 1vw;
	align-items: center;
}
.buttonschedule{
	background: hsl(0, 100%, 68%);
	margin-right: 16px;
	padding: 16px 32px;
	color: hsl(207, 33%, 95%);
	font-weight: 700;
	border-radius: 8px;
	cursor: pointer;
}

.buttonschedule:hover {
	opacity: 0.8;
}
.afterbutton{
	letter-spacing: 5px;
	color: hsl(231, 7%, 65%);
}
.rightside{
	overflow: hidden;
	flex: 1;

}

 @keyframes drop {
	 0% {
		 opacity: 0;
		 transform: translateY(-50px);
	 }
	 100% {
		 opacity: 1;
		 transform: translateY(0);
	 }
 }
 
 @media (max-width:1300px) and (min-width:1025px) {
	 
	 .firstline, .lastline {
		 font-size: 1.5vw;
	 }
	 .contentleft h1 {
		 font-size: 5vw;
	 }
	 .contentleft h3 {
		 font-size: 3vw;
		 width: 70%;
	 }
	 .buttonschedule{
		padding: 8px 16px;
		margin-right: 8px;
	 }
	 .contentleft {
		padding: 0 5% 0 10%;
	 }
	 nav {
		 margin: 3% 5% 0 5%;
	 }
 }
  @media (max-width:1024px) and (min-width:769px) {
	  
	 .firstline, .lastline {
		 font-size: 2vw;
	 }
	 .firstline {
		 padding-bottom: 10%;
	 }
	 .lastline {
		 flex-direction: column;
		 align-items: flex-start;
	 }
	 .afterbutton {
		 padding-top: 6%;
		 letter-spacing: 3px;
	 }
	 .contentleft h1 {
		 font-size: 5vw;
	 }
	 .contentleft h3 {
		 font-size: 3vw;
		 width: 70%;
		 padding: 10% 0 20% 0;
	 }
	 .buttonschedule{
		padding: 8px 16px;
		margin-right: 8px;
	 }
	 .contentleft {
		padding: 0 5% 0 10%;
	 }
	 nav {
		 margin: 3% 5% 0 5%;
	 }
	  
 }
  @media (max-width:768px) and (min-width:481px) {
	
	  .nav-links{
		width: 70%;
		}
	  .nav-links a{
		  font-size: 3vw;
	  }
	  .bg-shape{
		  width: 70%;
	  } 
	  section {
		  flex-direction: column;
		  margin: 5% 0;
	  }
	  
	  .rightside {
		    width: 100%;
			order: 1;	
			margin-bottom: 5%;
			padding: 0 10%;
			flex: 0 0 auto;
		}
	  .rightside img{
		 height: 350px;
		 width: auto;
	  }
		
	  .leftside {
		  width: 100%;
		  order: 2
	  }
	  .contentleft {
		  padding: 0 10%;
		}
	  .firstline {
		 font-size: 4vw;
	 }
	  .contentleft h1 {
		 font-size: 10vw;
	 }
	 .contentleft h3 {
		 font-size: 5vw;
		 width: 90%;
		 padding: 3% 0 6% 0;
	 }
	 .lastline {
		 font-size: 3vw;
	 }
	 .buttonschedule{
		padding: 8px 16px;
		margin-right: 10px;
	 }
	 .afterbutton {
		letter-spacing: 3px;
	 }


 }
  @media (max-width:480px) {
	   body {
		   overflow-x: hidden;
	   }
	   nav{
		   margin: 6% 10% 0 10%;
	   }
	  .nav-links{
		position: absolute;
		top: 14vh;
		display: flex;
		flex-direction: column;
		background: white;
		width: 80%;
		align-items: center;
		padding: 20px;
		box-shadow: 0 0 15px -9px black;
		transform: translateY(-150%);
		transition: transform 0.5s ease-out;
		
		}
	  .nav-active{
		  transform:translateY(0%)
		  }
	  .nav-links li{
		  padding: 10px 0;
	  }
	  .dot{
		height: 1px;
		width: 100%;
        margin: 10px 0;
		}
	  .burger {
		display: flex;
	  }
	  .burger div{
		 transition: all 0.5s ease;
	  }
	  .close .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	  }
	  .close .line2 {
		opacity: 0;
	  }
	  .close .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	  }
	 
	  section {
		  flex-direction: column;
		  margin: 5% 0;
		  height: 90vh;
		  justify-content: center;
	  }
	  
	  .rightside {
		    width: 100%;
			order: 1;	
			margin-bottom: 5%;
			padding: 0 10%;
			flex: 0 0 auto;
		}
	  .rightside img{
		 height: 250px;
		 width: auto;
	  }
		
	  .leftside {
		  width: 100%;
		  order: 2;
		  flex: 0 0 auto;
	  }
	  .contentleft {
		  padding: 0 10%;
		}
	  .firstline {
		 font-size: 4vw;
	 }
	  .contentleft h1 {
		 font-size: 10vw;
	 }
	 .contentleft h3 {
		 font-size: 5vw;
		 width: 90%;
		 padding: 3% 0 6% 0;
	 }
	 .lastline {
		 font-size: 3.5vw;
	 }
	 .buttonschedule{
		padding: 8px 8px;
		margin-right: 10px;
	 }
	 .afterbutton {
		letter-spacing: 3px;
	 }

 }